<style type="text/css">
body { 
  background-color: #181818;
   color: #a8a8a8; 
 }
h1 { 
  color: #ee2020;
  margin-bottom: 20px; 
}
h2 { 
  color: #ee2020; 
  text-align: center; 
}
#result h2 {
  text-align: left;
}
a { 
  color: #ee2020; 
}
* { 
  font-family: Verdana; 
  font-size: 96%; 
}
label {
 width: 10em;
 float: left; 
}
label.error { 
  float: none;
  color: red;
  padding-left: .5em;
  vertical-align: top;
}
p { 
  clear: both; 
}
.submit { 
  margin-left: 12em; 
}
em { 
  font-weight: bold;
  padding-right: 1em;
  vertical-align: top;
}
#main {
  text-align: center;
  background-color: #282828;
  float: left;
  width: 250px;
  padding-bottom: 30px;
  border-right: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  border-left: 1px solid #080808;
  border-top: 1px solid #080808;
}
#help {
  float: right;
  width: 500px;
  background-color: #282828;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
  border-left: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  border-right: 1px solid #080808;
  border-top: 1px solid #080808;
}
#result {
  float: left;
  padding-left: 30px;
}
#config {
  float: left;
  padding: 10px;
}
#average {
  float: left;
  padding: 10px;
}
#best {
  float: left;
  padding: 10px;
}
#worst {
  float: left;
  padding: 10px;
}
.container {
  clear: both;
  display: block;
  border-bottom: 1px solid #484848;
}
.float {
  float: left;
  margin-left: auto;
  margin-right:auto;
}
.footer {
  text-align: center;
  font-size: smaller;
  font-style: italic;
  padding-top: 20px;
}
</style>

<script>
  var nrOfRunsAllowed = <%= @maxNrOfRuns %>;

  function validateMaxRunsForTarget() {
    return nrOfRunsAllowed[$('#targetLevel').val()] >= parseInt($('#nrOfRuns').val());
  }

  $(function() {
    $('#refineForm').bind('ajax:before', function(event, xhr, status){
      $('#result').html('<img src="/assets/ajax-loader.gif" alt="Loader image">');
    });
    $('#refineForm').bind('ajax:success', function(event, xhr, status){
      $('#result').html(xhr.responseText);
    });
    $('#refineForm').bind('ajax:complete', function(event, xhr, status){
        $('#result').html(xhr.responseText);
    });
    $('#refineForm').bind('ajax:failure', function(event, xhr, status){
      $('#errorDiv').html(event.to_s);
    });

    jQuery.validator.addMethod("maxRuns", function(value, element, params) { 
        return validateMaxRunsForTarget();
      }, 
      jQuery.format("Please enter a number less than the max shown in the table below."));
    $('#refineForm').validate({
      debug: true,
      rules: {
        nrOfRuns : {required: true, number: true, min: 1, maxRuns: true},
        startLevel : {required: true, number: true, min: 0, max: 12},
        targetLevel : {required: true, number: true, min: 0, max: 12},
        tienkangsLow : {required: true, number: true, min: 0, max: 11},
        tienkangsHigh : {required: true, number: true, min: 0, max: 11},
        tishasLow : {required: true, number: true, min: 0, max: 11},
        tishasHigh : {required: true, number: true, min: 0, max: 11},
      }
    });

    $('#useTienkangs').click(function() {
      if ($(this).is(':checked')) {
        $('#tienkangsLow').removeAttr('disabled');
        $('#tienkangsHigh').removeAttr('disabled');
      } else {
        $('#tienkangsLow').attr('disabled', 'disabled');
        $('#tienkangsHigh').attr('disabled', 'disabled');        
      }
    })

    $('#useTishas').click(function() {
      if ($(this).is(':checked')) {
        $('#tishasLow').removeAttr('disabled');
        $('#tishasHigh').removeAttr('disabled');
      } else {
        $('#tishasLow').attr('disabled', 'disabled');
        $('#tishasHigh').attr('disabled', 'disabled');        
      }
    })

    $('#weapon').click(function() {
      if ($(this).is(':checked')) {
        $('#g16').attr('checked', false);
      }
    })

    $('#g16').click(function() {
      if ($(this).is(':checked')) {
        $('#weapon').attr('checked', false);
      }
    })
  });
</script>

<div id="main">
<h1>Refining Simulator</h1>
<%= form_tag '/refine/run', :id => 'refineForm', :remote => true do %>
  <div class="container">
    <p>
      <%= label_tag(:nrOfRuns, 'Nr of runs') %>
      <%= text_field_tag(:nrOfRuns, 100, :size => 6) %>
    </p>
  </div>

  <div class="container">
    <div class="float">
      <p>
        <%= label_tag(:startLevel, 'Start level') %><br>
        <%= text_field_tag(:startLevel, 0, :size => 2) %>
      </p>
    </div>

    <div class="float">
      <p>
        <%= label_tag(:targetLevel, 'Target level') %><br>
        <%= text_field_tag(:targetLevel, 5, :size => 2) %>
      </p>
    </div>
  </div>
 
  <div class="container">
    <div class="float">
      <p>
        <%= label_tag(:useTienkangs, 'Use tienkangs') %><br>
        <%= check_box_tag(:useTienkangs, value='yes', true) %>
      </p>
    </div>

    <div class="float">
      <p>
        <%= label_tag(:tienkangsLow, 'from/to level') %><br>
        <%= text_field_tag(:tienkangsLow, 3, :size => 2) %> to 
        <%= text_field_tag(:tienkangsHigh, 4, :size => 2) %>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="float">
      <p>
        <%= label_tag(:useTishas, 'Use tishas') %><br>
        <%= check_box_tag(:useTishas, value='yes', true) %>
      </p>
    </div>

    <div class="float">
      <p>
        <%= label_tag(:tishas, 'from/to level') %><br>
        <%= text_field_tag(:tishasLow, 5, :size => 2) %> to 
        <%= text_field_tag(:tishasHigh, 11, :size => 2) %>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="float">
      <p>
        <%= label_tag(:weapon, 'Weapon') %><br>
        <%= check_box_tag(:weapon) %>
      </p>
    </div>

    <div class="float">
      <p>
        <%= label_tag(:g16, 'G16 weapon') %><br>
        <%= check_box_tag(:g16) %>
      </p>
    </div>
  </div>

  <p>
    <%= submit_tag "Run Simulation" %>
  </p>
  
<% end %>
</div>

<div id="result"></div>

<div id="help">
  <h2>Help</h2>
  <p>
    The refining simulator is a tool to get an idea of the cost to refine a gear from a certain level to the wanted level. It works by running a simulation of the refining process a number of times. The odds are the ones from the game so given a large enough number of runs the results are representative of what can be expected in the game.
  </p>
  <ul>
    <li><em>Number of runs</em> is the total number of times that the simulator will get the piece of gear from the start level to the target level. To avoid too much stress on the server the following limits are imposed on the number of runs.
      <ul>
        <li>target lvl 0-7 => max nr of runs is 2000.</li>
        <li>target lvl 8 => max nr of runs is 1000.</li>
        <li>target lvl 9 => max nr of runs is 100.</li>
        <li>target lvl 10 => max nr of runs is 10.</li>
        <li>target lvl 11 => max nr of runs is 1.</li>
        <li>target lvl 12 => max nr of runs is 1.</li>
      </ul>
    </li>
    <li>
      The <em>start level</em> is the current level of the piece of gear. Can be between 0 and 12.
    </li>
    <li>
      The <em>target level</em> is the wanted level after refining. Can be between 0 and 12.
    </li>
    <li>
      Check <em>use tienkangs</em> if tienkangs should be used as refining aid at some point. <em>From/to level</em> decides which levels the simulator will use tienkangs as refining aids if the checkbox is checked. Note that this is the level the gear is at. *Not* the level to refine to. Eg if you want to refine a piece from from 0 to 5 using tienkangs to go from 3-&gt;4 and 4-&gt;5, then you should enter 3 and 4 in these fields.
    </li>
    <li>
      Check <em>use tishas</em> if tishas should be used as refining aid at some point. <em>From/to level</em> decides which levels the simulator will use tishas as refining aids if the checkbox is checked. The note about levels for tienkangs applies to tishas too.
    </li>
    <li>
      Check <em>weapon</em> if the piece to refine is a weapon. Then 2 mirages will be used for each try.
    </li>
    <li>
      Check <em>g16 weapon</em> if the piece to refine is a g16 weapon that requires 5 mirages per try.
    </li>
  </ul>
  <p>
    The results will be presented in 4 sections.
  </p>
  <ul>
    <li>
      <em>Parameters</em> is simply the numbers that were entered in the form to start the simulation.
    </li>
    <li>
      <em>Average run</em> is the average of all runs, displaying the average number of mirages, tienkangs and tishas used.
    </li>
    <li>
      <em>Best run</em> is the cheapest of all runs.
    </li>
    <li>
      <em>Worst run</em> is the most expensive of all runs.
    </li>
  </ul>
  <p class="footer">
    The source code for the simulator is available at <%= link_to 'GitHub', 'https://github.com/hlarsson/refine-simulator' %>.
  </p>
</div>
