<style type="text/css">
body { background-color: #181818; color: #a8a8a8; }
h1 { color: #ee2020;}
h2 { color: #ee2020;}
* { font-family: Verdana; font-size: 96%; }
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
</style>

<script>
  var nrOfRunsAllowed = <%= @maxNrOfRuns %>;
  function validateMaxRunsForTarget() {
    return nrOfRunsAllowed[$('#targetLevel').val()] >= parseInt($('#nrOfRuns').val());
  }
  $(function() {
    $('#refineForm').bind('ajax:before', function(event, xhr, status){
      $('#result').html('<img src="/assets/ajax-loader.gif" alt="Loader image">');
    });
    $('#refineForm').bind('ajax:success', function(event, xhr, status){
      $('#result').html(xhr.responseText);
    });
    $('#refineForm').bind('ajax:complete', function(event, xhr, status){
      $('#result').html(xhr.responseText);
    });
    $('#refineForm').bind('ajax:failure', function(event, xhr, status){
      $('#errorDiv').show();
    });

    jQuery.validator.addMethod("maxRuns", function(value, element, params) { 
        return validateMaxRunsForTarget();
      }, 
      jQuery.format("Please enter a number less than the max shown in the table below."));
    $('#refineForm').validate({
      debug: true,
      rules: {
        nrOfRuns : {required: true, number: true, min: 1, maxRuns: true},
        startLevel : {required: true, number: true, min: 0, max: 12},
        targetLevel : {required: true, number: true, min: 0, max: 12},
        tienkangsLow : {required: true, number: true, min: 0, max: 11},
        tienkangsHigh : {required: true, number: true, min: 0, max: 11},
        tishasLow : {required: true, number: true, min: 0, max: 11},
        tishasHigh : {required: true, number: true, min: 0, max: 11},
      }
    });
  });
</script>

<h1>Refining Simulator</h1>

<%= form_tag '/refine/run', :id => 'refineForm', :remote => true do %>
  <p>
    <%= label_tag(:nrOfRuns, 'Nr of runs') %><br>
    <%= text_field_tag(:nrOfRuns, 100, :size => 6) %>
  </p>

  <ul>
    <li>target lvl 0-7 => max nr of runs is 1000.</li>
    <li>target lvl 8 => max nr of runs is 100.</li>
    <li>target lvl 9 => max nr of runs is 10.</li>
    <li>target lvl 10 => max nr of runs is 10.</li>
    <li>target lvl 11 => max nr of runs is 1.</li>
    <li>target lvl 12 => max nr of runs is 1.</li>
  </ul>

  <p>
    <%= label_tag(:startLevel, 'Start level') %><br>
    <%= text_field_tag(:startLevel, 0, :size => 2) %>
  </p>

  <p>
    <%= label_tag(:targetLevel, 'Target level') %><br>
    <%= text_field_tag(:targetLevel, 5, :size => 2) %>
  </p>
 
  <p>
    <%= label_tag(:tienkangsLow, 'Tienkangs on levels') %><br>
    <%= text_field_tag(:tienkangsLow, 3, :size => 2) %>
    <%= text_field_tag(:tienkangsHigh, 4, :size => 2) %>
  </p>

  <p>
    <%= label_tag(:tishas, 'Tishas on levels') %><br>
    <%= text_field_tag(:tishasLow, 5, :size => 2) %>
    <%= text_field_tag(:tishasHigh, 11, :size => 2) %>
  </p>

  <p>
    <%= submit_tag "Run Simulation" %>
  </p>

<% end %>

<div id="result"></div>
